.hero{
    height: 100vh;
    position: relative;
    color: var(--primary-dark);
    text-align: center;
}
.hero picture img{
    width: 100%;
    object-fit: cover;
    max-height: 200px;   
}

.main.content .text{
    text-align: center;
    font-size: var(--f18px);
    padding: 0px 150px;
    line-height: 30px;
    margin: 0;
    padding-top: 50px;
}

.main.content .text .heading{
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
}

main .hero .main.content .text h1{
    font-size: var(--f31px);
}

.main.content .text .heading span{
    color: var(--text-secondary);
}

.main.content .text p{
    padding-top: 24px;
}


/* Experiences */
.hero .main.content .experiences{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.hero .main.content .experiences .experience{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    line-height: 35px;
    border-radius: 6px;
}

.hero .main.content .experiences .experience h1{
    font-size: var(--f25px);
    font-weight: 500;
}

.hero .main.content .experiences .experience p{
    font-size: var(--f16px);
}

.hero hr{
    border-top: 1px solid var(--border);
}