
/* Extra small phones */
@media (min-width:360px) and (max-width: 480px){
    .header{
        padding: 12px 40px ;
    }

    .banner .banner-wrap{
        font-size: var(--f10px);
        padding: 8px 0;
    }

    .header .leftbar .navbar{
        display: none;
    }


    .header .leftbar .navbar a{
        font-size: var(--f14px);
    }

    
    /* Hero Section */

    .hero picture img.heroimg{
        width: 100%;
        object-fit: cover;
        height: 140px;  
    }

    .hero .main.content{
        padding-bottom: 40px;
    }

    .hero .main.content .text{
        font-size: var(--f14px);
        padding: 0 35px;
        text-align: center;
        padding-top: 75px;
        padding-bottom: 24px;
        

    }

   .hero .main.content .text .heading{
        font-size: var(--f18px);
   }

   .hero .main.content .text p{
    line-height: 1.5;
    padding-top: 9px;
   }
   

   /* hero buttons */
   .hero .main.content .buttons{
    flex-direction: column;
    gap: 12px;
   }

   .hero .main.content .buttons .primary{
    font-size: var(--f12px);
    padding: 12px 90px;
   }

   .hero .main.content .buttons .secondary {
        font-size: var(--f12px);
        padding: 12px 97px;
   }

   .hero .main.content .experiences{
        width: 250px;
        flex-direction: column;
        display: none;
   }
   .hero .main.content .experiences .experience h1{
    font-size: var(--f20px);
   }
   
   .hero .main.content .experiences .experience p{
    
    font-size: var(--f16px);
    line-height: 1.5;
    
   } 



   .content .wrapper .container .title{
    width: 100%;
    padding: 0 20px;
    gap: 12px;
    margin-bottom: 12px;
   }

   .content .wrapper .container .title h1 {
    font-size: var(--f16px);
   }

   .content .wrapper .container .title p{
    font-size: var(--f14px);
    line-height: 1.5;
    padding: 10px 6px;
   }

   /* Content Buttons */
   
   .content .wrapper .carousel .cards{
    margin: 16px 20px;
   }

   .content .wrapper .carousel .cards .card img {
    height: 160px;
    width: 100%;
   }

   .content .wrapper .carousel .cards .card .text{
    width: 202px;
    text-align: justify;
    font-size: var(--f14px);
    line-height: 1.5;
    padding: 18px 20px;
   }
   .content .wrapper .carousel .cards .card .text h2{
    font-size: var(--f16px);
   }

   #nextBtn, #backBtn{
    display: none;
    width: 30px;
    cursor: pointer;
    margin: 15px;
   }

   /* About the tours */

   .content .tours .about.section {
    margin: 80px 20px;
    margin-bottom: 55px;
   }

   .content .tours .about.section .container .text{
    font-size: var(--f14px);
    width: 100%;
    gap: 12px;
   }


   .content .tours .about.section .container .text h1{
    font-size: var(--f16px);
   }


   .content .tours .about.section .container .text p{
    padding: 0 12px;
    }

    .content .tours .package.section .tour{
        padding: 0 18px;
    }


    .content .tours .package.section .tour .card {
        width: 300px;
    }

    .content .tours .package.section .tour .card .text{
        padding: 4px 16px;
        font-size: var(--f14px);
    }
    .content .tours .package.section .tour .card .text h2{
        font-size: var(--f16px);
    }

    .content .tours .package.section .tour .card .text p{
        font-size: var(--f14px);
    }

    .content .tours .package.section .tour .card img{
        height: 180px;
    }


   /* Contact Form */
   #cf.contact.section h1{
    font-size: var(--f18px);
   }

   .contact.section form.contact-form input#name:placeholder-shown{
    font-size: var(--f14px);
   }

   #cf.contact.section .contact-form .inputs input::placeholder{
    font-size: var(--f14px);
   }

    #cf.contact.section .contact-form .inputs input {
        font-size: var(--f14px);
    }

    #cf.contact.section .contact-form .inputs textarea{
        font-size: var(--f14px);
    }


   #cf.contact.section .contact-form .inputs textarea::placeholder{
    font-size: var(--f14px);
   }

   .contact.section form.contact-form{
    font-size: var(--f14px);
   }

   .contact.section .contact-form div.dropdown select#category{
    font-size: var(--f14px);
   }

   .contact.section .contact-form div.inputs{
    max-width: 335px;
   }

   .contact.section .contact-form div.dropdown{
    max-width: 335px;
   }

   .contact.section .contact-form input.submit{
    max-width: 335px;
   }



    

    footer .contactinfo .text{
        display: flex;
        flex-direction: column;
    }
}


/* Small Screens Phone */
@media (min-width: 577px) and (max-width: 768px){

}


/* Tablets Medium Screens */
@media (min-width: 769px) and (max-width: 992px){

}


/* Large Screen Desktop */
@media (min-width: 993px) and (max-width: 1200px){

}

/* Extra Large screen Desktop */
@media (min-width: 1201px) and (max-width: 1440px){

}
