
/* Extra small phones */
@media (min-width:360px) and (max-width: 480px){
    .header{
        padding: 12px 40px ;
    }

    .banner .banner-wrap{
        font-size: var(--f10px);
        padding: 8px 0;
    }

    .header .leftbar .navbar{
        display: none;
    }


    .header .leftbar .navbar a{
        font-size: var(--f14px);
    }

    
    /* Hero Section */
    .hero .main.content .text{
        font-size: var(--f12px);
        padding: 0 20px;
        text-align: center;
    }

   .hero .main.content .text .heading{
        font-size: var(--f16px);
        padding-top: 25px;
   }

   .hero .main.content .text p{
    line-height: 1.5;
    padding-top: 4px;
   }
   

   /* hero buttons */
   .hero .main.content .buttons{
    flex-direction: column;
   }

   .hero .main.content .buttons .primary{
    font-size: var(--f12px);
    padding: 10px 30px;
   }

   .hero .main.content .buttons .secondary {
        font-size: var(--f12px);
        padding: 10px 37px;
   }

   .hero .main.content .experiences{
        width: 250px;
        flex-direction: column;
   }
   .hero .main.content .experiences .experience h1{
    font-size: var(--f16px);
   }
   
   .hero .main.content .experiences .experience p{
    
    font-size: var(--f14px);
    line-height: 1.5;
    
   } 

   .content .wrapper .container .title{
    width: 100%;
    padding: 0 20px;
    gap: 12px;
    margin-bottom: 12px;
   }

   .content .wrapper .container .title h1 {
    font-size: var(--f14px);
   }

   .content .wrapper .container .title p{
    font-size: var(--f12px);
    padding: 0 6px;
   }

   /* Content Buttons */
   
   .content .wrapper .carousel .cards{
    margin: 0 20px;
   }

   .content .wrapper .carousel .cards .card img {
    height: 172px;
    width: 100%;
   }

   .content .wrapper .carousel .cards .card .text{
    width: 215px;
    text-align: justify;
    font-size: var(--f12px);
    line-height: 1.5;
    padding: 18px 20px;
   }
   .content .wrapper .carousel .cards .card .text h2{
    font-size: var(--f14px);
   }

   #nextBtn, #backBtn{
    display: none;
    width: 30px;
    cursor: pointer;
    margin: 15px;
   }

   /* About the tours */
   .content .tours .about.section .container .text{
    width: 250px;
   }


   /* Contact Form */
   #cf.contact.section h1{
    font-size: var(--f16px);
   }

   .contact.section form.contact-form input#name:placeholder-shown{
    font-size: var(--f14px);
   }

   #cf.contact.section .contact-form .inputs input::placeholder{
    font-size: var(--f14px);
   }

   #cf.contact.section .contact-form .inputs textarea::placeholder{
    font-size: var(--f14px);
   }

   .contact.section form.contact-form{
    font-size: var(--f14px);
   }

   .contact.section .contact-form div.dropdown select#category{
    font-size: var(--f14px);
   }

   .contact.section .contact-form div.inputs{
    max-width: 335px;
   }

   .contact.section .contact-form div.dropdown{
    max-width: 335px;
   }

   .contact.section .contact-form input.submit{
    max-width: 335px;
   }



    .content .tours .package.section .tour .card {
     width: 270px;
    }

    footer .contactinfo .text{
        display: flex;
        flex-direction: column;
    }
}


/* Small Screens Phone */
@media (min-width: 577px) and (max-width: 768px){

}


/* Tablets Medium Screens */
@media (min-width: 769px) and (max-width: 992px){

}


/* Large Screen Desktop */
@media (min-width: 993px) and (max-width: 1200px){

}

/* Extra Large screen Desktop */
@media (min-width: 1201px) and (max-width: 1440px){

}
